body{
    background-color: #ddd;
}



textarea{

    width: 815px;
    height: 80px;
    background-color: #fff;
    resize: none;
}

button{
    width: 100px;
    height: 30px;
    background-color: #282828;
    border: none;
    color: #fff;
    font-family:arial;
    font-weight:400;
    cursor: pointer;
    margin-bottom: 30px;

}
.comment-box{
    width: 815px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}

.comment-box p{
    font-family: arial;
    font-size:14px;
    line-height: 16px;
    font-weight: 100;
    color: #282828;

}

.edit-form{
    position: absolute;
    top:0px;
    right:0px;
}
.edit-form button{
   width: 40px;
    height: 20px;
    color:#282828;
    background-color: #fff;
    opacity: 0.7;
}
.edit-form button:hover{
    opacity: 1;
}

.delete-form{
    position: absolute;
    top:0px;
    right:60px;
}
.delete-form button{
    width: 40px;
    height: 20px;
    color:#282828;
    background-color: #fff;
    opacity: 0.7;
}
.delete-form button:hover{
    opacity: 1;
}